body {
    font-family: Arial;
    margin: 0 auto;
    background: deepskyblue;
}
header {
    text-align: center;
    background: white;
}

section {
    display: flex;
    width: 50%;
    flex-flow: column;
    margin: 0 auto;
    background: #e0e0e0;
}
nav {
    display: flex;
    width: 50%;
    flex-flow: column;
    margin: 0 auto;
    background-color: #ffffff;
}

nav div {
    padding: 10px;
}
nav div.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

nav div.search-container > button {
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border: 1px solid deepskyblue;
    cursor: pointer;
    background-color: deepskyblue;
}

h5{
    text-align: right;
    color: dimgrey;
}
p{
    font-size: xx-large;
}
/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 80%;
    padding: 10%;
}

/* Add a card effect for articles */
.card {
    width: 80%;
    border: 1px solid dimgrey;
    background-color: white;
    padding: 20px;
    margin: 20px auto 0;
}