/*https://coolors.co/0b2027-40798c-70a9a1-cfd7c7-f6f1d1*/

body {
    font-family: Arial, serif;
    margin: 0 auto;
    padding: 0;
    background: #0b2027;

}
header {
    text-align: center;
    background: #40798c;
}

section {
    display: flex;
    width: 50%;
    flex-flow: column;
    margin: 0 auto;
}

nav {
    display: flex;
    width: 50%;
    flex-flow: column;
    margin: 0 auto;
    background-color: 40798c;
}

nav div {
    padding: 10px;
}
#searchInput {
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: none;
    background-color: #cfd7c7;
}

#searchButton {
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: #70a9a1;
}

#searchButton:hover {
    opacity: 0.7;
}

Button {
    box-sizing: border-box;
    height: 30px;
    width: 40px;
    margin: 0;
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: #70a9a1;
}
button:hover{
    opacity: 0.7;
}

/* date headline */
div > h5{
    text-align: right;
    color: dimgrey;
}

/* large text after picture*/
h5 ~ p{
    font-size: large;
}

/* if no picture exxtra large text*/
h5 + p{
    font-size: xx-large;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 80%;
    padding: 10%;
}

/* Add a card effect for articles */
.card {
    background-color: #cfd7c7;
    padding: 20px;
    margin-top: 20px;
}

form {   
    
    display: flex;
    justify-content: center;
    align-items: center; 
 }   
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: none;   
    box-sizing: border-box;   
}  

input[type=submit] {   
    width: 20%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    vertical-align: center;
    border: none;   
}  

input:hover {   
     opacity: 0.7;   
}      
     
.login-form {   
    background-color: #cfd7c7;
    padding: 20px;
    margin-top: 20px;
}   