body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: deepskyblue;

}
header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

section {
    display: flex;
    width: 50%;
    flex-flow: column;
    margin: 0 auto;
}
nav {
    display: flex;
    width: 50%;
    flex-flow: column;
    margin: 0 auto;
    background-color: #ffffff;
}

nav div {
    height: 30px;
    flex-grow: 4;
    padding: 10px;
}
nav div.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

nav div.search-container > button {
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border: 1px solid deepskyblue;
    cursor: pointer;
    background-color: deepskyblue;
}

.column {
    width: 100%;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 80%;
    padding: 10%;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}